.ad-banner {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 62px;
  width: 700px;
}
@media screen and (max-device-width: 480px) {
  .ad-banner {
    margin-top: 110px;
  }
}

.recipe-horizontal {
  display: flex;
  width: 960px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
}
@media screen and (max-device-width: 480px) {
  .recipe-horizontal {
    padding-top: 0;
  }
}

.recipe-content {
  width: 700px;
}

/*	height: 100% */
/*	overflow-x: scroll */
.recipe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.recipe-tombstone {
  font-family: "reem kufi";
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 4px solid #0066bb;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.metadata {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.recipe-yield {
  text-align: right;
}

.recipe-yield > p,
.recipe-timing > p {
  white-space: pre;
}

.recipe-name {
  font-size: 150%;
}

.recipe {
  width: 700px;
  padding: 20px;
  border-top: 20px solid crimson;
  border-radius: 10px;
  font-size: 82%;
  background-color: white;
  margin-top: 10px;
}

.material {
  width: 260px;
  display: flex;
}

.material.in-fridge {
  font-weight: 700;
}

.material:not(:first-child) {
  margin-top: 4px;
}

.amt-quantity-input {
  font-size: 90%;
  flex: 0 0 32px;
  width: 32px;
  height: 16px;
  align-self: center;
}
@media screen and (max-device-width: 480px) {
  .amt-quantity-input {
    height: 32px;
    flex: 0 0 60px;
    width: 60px;
  }
}

.amt-measure {
  flex: 0 0 50px;
  width: 50px;
  margin-left: 4px;
  align-self: center;
}
@media screen and (max-device-width: 480px) {
  .amt-measure {
    flex: 0 0 75px;
    width: 75px;
    margin-left: 8px;
  }
}

.recipe-column.ingredient {
  flex: 0 0 170px;
  width: 170px;
  margin-left: 4px;
}
@media screen and (max-device-width: 480px) {
  .recipe-column.ingredient {
    flex: 0 0 199px;
    width: 199px;
    margin-left: 8px;
  }
}

.recipe * {
  font-family: "source sans pro";
}

.amt-measure,
.recipe-column.ingredient {
  display: inline-block;
}

.step {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.step:not(:first-child) {
  margin-top: 10px;
  border-top: 1px solid #0066bb;
  padding-top: 10px;
}

.instructions {
  width: 430px;
}
@media screen and (max-device-width: 480px) {
  .instructions {
    width: calc(100% - 350px - 10px);
  }
}

.equipment {
  width: 240px;
  margin-left: 20px;
  margin-top: 20px;
}

.similar-recipes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 960px;
  font-family: "source sans pro";
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.similar-recipes > h2 {
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

.recipe-link {
  width: 350px;
  color: #0066bb;
  margin-bottom: 4px;
}

.recipe-description {
  font-family: "source sans pro";
  white-space: pre-line;
}

.macros-expander {
  z-index: 100000;
}

.macro-data-mini-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.macro-data-mini-text > p:first-child {
  margin-right: 8px;
}

.thickest-bottom-border {
  width: 100%;
  border-bottom: 6px solid black;
}

.thick-bottom-border {
  width: 100%;
  border-bottom: 4px solid black;
}

.thin-bottom-border {
  width: 100%;
  border-bottom: 1.5px solid black;
}

.thinnest-bottom-border {
  width: 100%;
  border-bottom: 1px solid black;
}

.indent {
  padding-left: 12px;
}

.dietary-badges {
  width: 100px;
}

.macro-wrapper {
  width: 170px;
}

.label-text {
  font-family: "source sans pro";
  font-size: 60%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.dietary-badge {
  white-space: nowrap;
  width: 100%;
}

.macros > h2::after,
.groceries > h2::after {
  content: "v";
  color: rgba(0, 0, 0, 0);
  width: 26px;
  height: 26px;
  position: absolute;
  right: 20px;
  background-image: url("../ui_icons/open_menu.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateZ(90deg);
}

.macros-expander {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.dietary-badges {
  padding-left: 10px;
  border-left: 3px solid black;
  margin-left: 10px;
  font-family: "reem kufi";
  font-size: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
}

.macros {
  position: relative;
  padding-left: 20px;
}

.macros:hover {
  cursor: pointer;
}

.macros.collapsed > .macros-expander {
  height: 0;
  overflow: hidden;
}

.macros:not(.collapsed) > .macros-expander {
  border: 3px solid black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.macros,
.groceries {
  width: 240px;
}
@media screen and (max-device-width: 480px) {
  .macros,
.groceries {
    width: 340px;
  }
}

.groceries {
  position: relative;
  width: 260px;
  padding-right: 20px;
  z-index: 99;
}
@media screen and (max-device-width: 480px) {
  .groceries {
    width: 340px;
  }
}

.groceries:hover {
  cursor: pointer;
}

.grocery-expander {
  position: absolute;
  font-size: 82%;
  width: calc(100% - 20px);
}

.groceries.collapsed > .grocery-expander {
  height: 0;
  overflow: hidden;
}

.groceries:not(.collapsed) > .grocery-expander {
  border: 3px solid black;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}

.grocery-list * {
  font-family: "source sans pro";
}

.grocery-list h4 {
  font-weight: 700;
  font-size: 110%;
}

.grocery-list > .grocery-list-section:not(:first-child) {
  margin-top: 8px;
}

.grocery-list-material {
  display: flex;
  flex-direction: row;
}

.grocery-list-material-component {
  display: inline-block;
}

.grocery-list-material-component.amount {
  align-self: center;
  flex: 0 0 30px;
  width: 30px;
}
@media screen and (max-device-width: 480px) {
  .grocery-list-material-component.amount {
    flex: 0 0 60px;
    width: 60px;
  }
}

.grocery-list-material-component.measure {
  margin-left: 4px;
  align-self: center;
  flex: 0 0 40px;
  width: 40px;
}
@media screen and (max-device-width: 480px) {
  .grocery-list-material-component.measure {
    margin-left: 8px;
    flex: 0 0 80px;
    width: 80px;
  }
}

.text-groceries {
  width: 100%;
  font-family: "reem kufi";
}
@media screen and (max-device-width: 480px) {
  .text-groceries {
    height: 60px;
    font-size: 100%;
  }
}

.grocery-list-material-component.ingredient {
  margin-left: 4px;
}
@media screen and (max-device-width: 480px) {
  .grocery-list-material-component.ingredient {
    margin-left: 8px;
  }
}

.macro-data-text {
  display: inline;
}

.macro-data-input {
  width: 75px;
  font-size: 100%;
}
@media screen and (max-device-width: 480px) {
  .macro-data-input {
    width: 150px;
  }
}

.macro-wrapper * {
  font-family: "reem kufi";
}

.macro-data-mini-text {
  font-size: 60%;
}

.macro-data-wrapper {
  white-space: nowrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 42px;
  border-bottom: 4px solid crimson;
  background-color: white;
  z-index: 10000;
}
@media screen and (max-device-width: 480px) {
  .header {
    height: 70px;
    padding-left: 80px;
    padding-right: 80px;
    border-bottom: 8px solid crimson;
  }
}

.raasipe-logo {
  background-image: url("../ui_icons/raasipe.svg");
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-device-width: 480px) {
  .raasipe-logo {
    height: 50px;
    width: 50px;
  }
}

.header-item {
  color: black;
  font-family: "reem kufi";
  font-size: 120%;
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  height: 84px;
  background-color: white;
  border-top: 4px solid #0066bb;
  font-family: "reem kufi";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 10000;
  position: absolute;
  bottom: 0;
}
@media screen and (max-device-width: 480px) {
  .footer {
    height: 140px;
    border-top: 8px solid #0066bb;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.main-content {
  position: relative;
  padding-bottom: 104px;
  min-height: calc(100% + 62px);
}
@media screen and (max-device-width: 480px) {
  .main-content {
    padding-bottom: 180px;
    min-height: 100%;
  }
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.footer-section.logo-section {
  font-size: 140%;
}
@media screen and (max-device-width: 480px) {
  .footer-section.logo-section {
    width: 25%;
    font-size: 120%;
  }
}

.footer-section.footer-links {
  width: 240px;
}
@media screen and (max-device-width: 480px) {
  .footer-section.footer-links {
    width: 40%;
  }
}

.footer-section.footer-links > a {
  color: black;
}

.footer-section.logo-section > p {
  display: inline;
}

.footer-logo {
  background-image: url("../ui_icons/raasipe.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
@media screen and (max-device-width: 480px) {
  .footer-logo {
    width: 70px;
    height: 70px;
    margin-right: 40px;
  }
}

.social-icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../ui_icons/raasipe.svg");
}
@media screen and (max-device-width: 480px) {
  .social-icon {
    width: 40px;
    height: 40px;
  }
}

.social-icon:not(:first-child) {
  margin-left: 60px;
}

.social-icon.instagram {
  background-image: url("../ui_icons/instagram.svg");
}

.social-icon.facebook {
  background-image: url("../ui_icons/facebook.svg");
}

.social-icon.twitter {
  background-image: url("../ui_icons/twitter.svg");
}

.search-result-macros {
  width: 200px;
  height: 20px;
  flex-wrap: nowrap;
  display: flex;
  color: white;
  text-align: center;
}
@media screen and (max-device-width: 480px) {
  .search-result-macros {
    width: 300px;
    height: 40px;
  }
}

.search-result-header .search-result-macros {
  height: 26px;
}
@media screen and (max-device-width: 480px) {
  .search-result-header .search-result-macros {
    height: 52px;
  }
}

.search-result-title {
  width: calc(100% - 200px - 180px - 40px);
}
@media screen and (max-device-width: 480px) {
  .search-result-title {
    width: calc(33% - 17px);
  }
}

.search-result-calories {
  width: 180px;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
  color: black;
}
@media screen and (max-device-width: 480px) {
  .search-result {
    margin-top: 8px;
  }
}

.search-result-macros > p {
  display: inline;
}

.macros-slider {
  height: 100%;
  display: inline-block;
}

.macros-slider.desc {
  border-top: 4px solid #0066bb;
}

.macros-slider.asc {
  border-bottom: 4px solid #0066bb;
}

.search-result-header .macros-slider:hover {
  cursor: pointer;
}

.macros-slider.protein {
  background-color: crimson;
}

.macros-slider.fat {
  background-color: #e6c814;
}

.macros-slider.carbs {
  background-color: brown;
}

.macros-slider.null {
  background-color: grey;
}

.search-results,
.saved-recipes,
.search-ui,
.requirements-holder {
  width: 700px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: "reem kufi";
}
@media screen and (max-device-width: 480px) {
  .search-results,
.saved-recipes,
.search-ui,
.requirements-holder {
    width: 90%;
  }
}

.search-result-header {
  margin-bottom: 4px;
  border-bottom: 4px solid #0066bb;
  height: 34px;
}
@media screen and (max-device-width: 480px) {
  .search-result-header {
    margin-bottom: 8px;
    border-bottom: 8px solid #0066bb;
    height: 68px;
  }
}

.returned-results {
  max-height: 400px;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media screen and (max-device-width: 480px) {
  .returned-results {
    max-height: 500px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  }
}

.dietary-ui,
.course-ui {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-string-ui {
  width: 300px;
  height: 30px;
  font-size: 100%;
  padding-left: 5px;
  font-family: "source sans pro";
}
@media screen and (max-device-width: 480px) {
  .search-string-ui {
    width: 400px;
    height: 60px;
    padding-left: 10px;
  }
}

.search-ui-header,
.dietary-ui,
.course-ui,
.saved-recipes {
  margin-bottom: 10px;
  border-bottom: 1px solid #0066bb;
  padding-bottom: 10px;
}
@media screen and (max-device-width: 480px) {
  .search-ui-header,
.dietary-ui,
.course-ui,
.saved-recipes {
    margin-bottom: 20px;
    border-bottom: 2px solid #0066bb;
    padding-bottom: 20px;
  }
}

.search-ui-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.search-loading-ui.loading {
  height: 30px;
  width: 180px;
  background-image: url("../ui_icons/loading_wide.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-device-width: 480px) {
  .search-loading-ui.loading {
    height: 60px;
    width: 240px;
  }
}

.builder-checkbox {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-device-width: 480px) {
  .builder-checkbox {
    width: 51px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.builder-checkbox:not(.header-checkbox) {
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  align-self: center;
}
@media screen and (max-device-width: 480px) {
  .builder-checkbox:not(.header-checkbox) {
    height: 51px;
    border: 2px solid black;
    border-radius: 6px;
  }
}

.builder-checkbox:not(.header-checkbox).checked {
  background-color: #0066bb;
}

.requirements-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}
@media screen and (max-device-width: 480px) {
  .requirements-holder {
    margin-top: 40px;
  }
}

.requirements-holder > .list-holder {
  width: 46%;
}

.equipment-list-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.equipment-list-holder,
.grocery-list-holder {
  margin-top: 10px;
}
@media screen and (max-device-width: 480px) {
  .equipment-list-holder,
.grocery-list-holder {
    margin-top: 20px;
  }
}

.equipment-list-holder > a {
  width: 100%;
  color: #0066bb;
}

.equipment-list-holder {
  font-family: "source sans pro";
}

.hidable-sibling {
  font-style: italic;
  font-family: "source sans pro";
}

div:not(:empty) ~ .hidable-sibling {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}
@media screen and (max-device-width: 480px) {
  .switch {
    width: 80px;
    height: 40px;
    margin-right: 20px;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
@media screen and (max-device-width: 480px) {
  .slider:before {
    height: 28px;
    width: 28px;
    left: 6px;
    bottom: 6px;
  }
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
@media screen and (max-device-width: 480px) {
  input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
  }
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 18%;
  justify-content: flex-start;
  font-family: "source sans pro";
  font-size: 85%;
  margin-bottom: 4px;
  margin-top: 4px;
}
@media screen and (max-device-width: 480px) {
  .slider-wrapper {
    margin-bottom: 4px;
    margin-top: 4px;
    width: 50%;
  }
}

.course-ui .slider-wrapper {
  width: 15%;
}
@media screen and (max-device-width: 480px) {
  .course-ui .slider-wrapper {
    width: 50%;
  }
}

.home-tag-cards {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-device-width: 480px) {
  .home-tag-cards {
    width: 90%;
    margin-top: 40px;
  }
}

.banner-headline {
  width: 80%;
  text-align: center;
  font-family: "reem kufi";
  transform: translateX(-50%);
  margin-left: 50%;
}
@media screen and (max-device-width: 480px) {
  .banner-headline {
    width: 90%;
  }
}

.home-tag-card {
  width: 340px;
  border-top: 4px solid #0066bb;
  margin-bottom: 20px;
}
@media screen and (max-device-width: 480px) {
  .home-tag-card {
    width: calc(90% / 2 - 20px);
    border-top: 8px solid #0066bb;
    margin-bottom: 40px;
  }
}

.home-tag-card > a {
  width: 100%;
  display: inline-block;
  color: black;
  font-family: "source sans pro";
}

.api-header {
  top: 42px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  z-index: 100000;
}
@media screen and (max-device-width: 480px) {
  .api-header {
    top: 70px;
  }
}

.api-menu-button {
  width: 67.956px;
  height: 42px;
  background-color: black;
  background-size: 68% 68%;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

pre.json {
  white-space: pre-wrap;
}

.api-menu-button:hover {
  cursor: pointer;
  background-color: white;
}

.api-menu-button.nutrition {
  background-image: url("../ui_icons/api_nutrition_white.svg");
}

.api-menu-button.query {
  background-image: url("../ui_icons/api_query_white.svg");
}

.api-menu-button.nutrition:hover {
  background-image: url("../ui_icons/api_nutrition_black.svg");
}

.api-menu-button.query:hover {
  background-image: url("../ui_icons/api_query_black.svg");
}

.api-section:not(:first-child) {
  margin-top: 30px;
}

.api-sections {
  width: 700px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.api-sections h1,
.api-sections h2,
.api-sections h3 {
  font-family: "source sans pro";
}

.api-sections h2 {
  margin-top: 30px;
}

.api-sections h3 {
  margin-top: 20px;
}

.inline-tool {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.inline-textarea {
  width: 65%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: "reem kufi";
  font-size: 110%;
}

.api-button {
  width: 100px;
  height: 100px;
  background-color: #0066bb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 140%;
  font-family: "source sans pro";
}
@media screen and (max-device-width: 480px) {
  .api-button {
    width: 200px;
    height: 200px;
  }
}

.api-button:hover {
  cursor: pointer;
  color: white;
}

.recipe-qualities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipe-qualities > .dietary-result {
  width: 19.5%;
  font-size: 70%;
}

.dietary-result {
  width: 86px;
  border-radius: 4px;
  padding: 2px;
  color: white;
  margin-top: 4px;
}

.dietary-result:not(.offender) {
  background-color: #0066bb;
}

.dietary-result.offender {
  background-color: crimson;
}

.inline-analysis-header {
  margin-top: 20px;
}

.inline-analysis-results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inline-analysis-results-dietary {
  width: 55%;
}

.inline-analysis-results-macros {
  width: 40%;
}

.inline-analysis-results-dietary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dietary-result {
  width: 30%;
  font-family: "source sans pro";
}

.macros-values,
.macros-header {
  width: 100%;
  height: 30px;
  font-family: "source sans pro";
  display: flex;
  align-items: center;
  text-align: center;
}

.macros-values {
  margin-top: 4px;
}

.macros-slider {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.macros-header .macros-slider.protein {
  background-color: rgba(0, 0, 0, 0);
  color: crimson;
}

.macros-header .macros-slider.fat {
  background-color: rgba(0, 0, 0, 0);
  color: #e6c814;
}

.macros-header .macros-slider.carbs {
  background-color: rgba(0, 0, 0, 0);
  color: brown;
}

.macros-calories {
  font-family: "source sans pro";
  font-size: 120%;
}

.ingredient-result,
.recipe-result,
.related-result {
  font-family: "source sans pro";
  display: flex;
}

.recipe-result,
.related-result {
  margin-top: 10px;
}

.ingredient-result:not(:first-child) {
  margin-top: 4px;
}

.ingredient-result:first-child,
.recipe-result:first-child,
.related-result:first-child {
  border-bottom: 4px solid #0066bb;
  padding-bottom: 4px;
}

.ingredient-result-component.amount {
  width: 64px;
}

.ingredient-result-component.measure-id {
  width: 64px;
}

.ingredient-result-component.name {
  width: 160px;
}

.recipe-result-component.name {
  width: 240px;
  margin-right: 10px;
}

.recipe-result-component.yield {
  width: 160px;
}

.inline-analysis-results {
  max-height: 300px;
  overflow-y: scroll;
}

.inline-analysis-ingredients {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ingredient-result-component.calories,
.ingredient-result-component.protein,
.ingredient-result-component.fat,
.ingredient-result-component.carbs,
.ingredient-result-component.preparation,
.ingredient-result-component.variety {
  width: 100px;
}

.recipe-result-component.carbs,
.recipe-result-component.fat,
.recipe-result-component.protein,
.recipe-result-component.calories {
  width: 80px;
}

.related-result-component.name {
  width: 360px;
}

.related-result-component.course {
  width: 160px;
}

.related-result-component.id {
  width: 100px;
}

.return-object-example {
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 10px;
  background-image: url("../ui_icons/open_menu.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 10px;
  max-height: 80px;
  overflow: hidden;
  margin-top: 10px;
}

.return-object-example.expanded {
  max-height: none;
}

.return-object-example:hover {
  cursor: pointer;
}

.palette {
  width: 600px;
}
@media screen and (max-device-width: 480px) {
  .palette {
    width: 90%;
    font-size: 80%;
  }
}

@media screen and (max-device-width: 480px) {
  svg.genetic-svg {
    font-size: 65%;
  }
}

.dendrogram-header {
  display: flex;
  justify-content: space-between;
  font-family: source sans pro;
  font-weight: 700;
  text-decoration: italic;
  margin-bottom: 10px;
  margin-top: 20px;
}

.dendrogram-header > p {
  width: 100%;
  text-align: center;
}

.dendrogram-background {
  width: 800px;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.dendrogram-column:not(:last-child) {
  border-right: 4px dashed rgba(0, 0, 0, 0.2);
}

.palette-loading {
  width: 150px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 20px;
}

.palette-search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.palette-loading.loading {
  background-image: url("../ui_icons/loading_wide.svg");
}

.dendrogram-column:first-child,
.dendrogram-header > p:first-child {
  width: 11%;
}

.dendrogram-column:nth-child(2),
.dendrogram-column:nth-child(3),
.dendrogram-column:nth-child(4),
.dendrogram-header > p:nth-child(2),
.dendrogram-header > p:nth-child(3),
.dendrogram-header > p:nth-child(4) {
  width: 17.5%;
}

.dendrogram-column:last-child,
.dendrogram-header > p:last-child {
  width: 36.5%;
}

.dendrogram-column {
  height: 100%;
  width: 20%;
  box-sizing: border-box;
}

.project-text {
  width: calc(100% - 210px);
  color: black;
}

.project-text > .description {
  margin-top: 10px;
}

.project-image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.projects {
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: "source sans pro";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-link {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.project-link:not(:first-child) {
  margin-top: 20px;
}

.project-link:last-child {
  margin-bottom: 20px;
}

.sunburst-container {
  font-family: "source sans pro";
}

.sunburst-container h4 {
  margin-bottom: 20px;
}

.palette-current-search-name {
  width: 100%;
  text-align: right;
}

.genetics.loading {
  background-image: url("../ui_icons/loading_wide.svg");
}

.genetics {
  min-height: 100px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.magic-box {
  width: 400px;
  height: 147px;
  font-family: "source sans pro";
}

.analysis-content-area {
  width: 660px;
  margin-bottom: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ui-dash {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.ingredient-result-component {
  padding-left: 4px;
  padding-right: 4px;
}

.ui-dash.loading {
  background-image: url("../ui_icons/loading_wide.svg");
}

.nutrition-analysis-ui {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.is-known {
  width: 40px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

.is-known.known {
  background-image: url("../projects/nutrition-analysis/assets/ui-icons/check.svg");
}

.is-known.unknown {
  background-image: url("../projects/nutrition-analysis/assets/ui-icons/question.svg");
}

.essay {
  width: 660px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 120%;
}

.mekko-svg {
  font-size: 80%;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-color.light-blue {
  background-color: #6aaed6;
}

.legend-color.dark-blue {
  background-color: #3182bd;
}

.mekko-legend {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.legend-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.legend-text {
  white-space: pre;
}

.legend-item:not(:first-child) {
  margin-left: 20px;
}

.print .header,
.print .ad-banner,
.print .equipment,
.print .similar-recipes,
.print .footer,
.print .macros,
.print .groceries,
.print .recipe-description {
  display: none;
}

.print .recipe-tombstone {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.print .recipe-horizontal {
  padding-top: 0;
}

.print .recipe {
  border-top: none;
}

.print .recipe-horizontal {
  width: 700px;
}

body.print {
  background-image: none;
  padding-top: 0;
}

.print input {
  border: none;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  height: calc(100%);
}

body {
  padding-top: 62px;
}
@media screen and (max-device-width: 480px) {
  body {
    font-size: 180%;
  }
}

h2 {
  font-family: "reem kufi";
  font-size: 130%;
}

body {
  background-image: url("../images/main/upfeathers.png");
}

.ul {
  text-decoration: underline;
}

.nn-interface {
  margin-bottom: 20px;
}
@media screen and (max-device-width: 480px) {
  .nn-interface {
    font-size: 70%;
  }
}

.nn-epoch > p,
.nn-refresh > p {
  width: 100%;
  text-align: center;
}
@media screen and (max-device-width: 480px) {
  .nn-epoch > p,
.nn-refresh > p {
    font-size: 80%;
  }
}

.preamble {
  max-width: 560px;
}
@media screen and (max-device-width: 480px) {
  .preamble {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
